import init.kanas3gnfc_base.rc
import init.wifi.rc

on fs
# Support Preload install apks
     mkdir /preload 0771 system system

# umount service
service umount_service /system/bin/umount /preload
     disabled
     oneshot

# Support Preload install apks
on property:persist.sys.storage_preload=1
     mount ext4 /dev/block/platform/sprd-sdhci.3/by-name/HIDDEN /preload nosuid nodev ro barrier=1
     setprop storage.preload.complete 1

on property:persist.sys.storage_preload=0
     start umount_service

# for BT-PANU
service dhcpcd_bt-pan /system/bin/dhcpcd -BKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
